ALTER TABLE produtos ADD COLUMN IF NOT EXISTS codigo_barras TEXT;
ALTER TABLE produtos ADD COLUMN IF NOT EXISTS preco_minimo NUMERIC(12,2);
ALTER TABLE produtos ADD COLUMN IF NOT EXISTS qtd_maxima NUMERIC(12,3);
ALTER TABLE produtos ADD COLUMN IF NOT EXISTS qtd_min_atacado NUMERIC(12,3);
ALTER TABLE produtos ADD COLUMN IF NOT EXISTS localizacao TEXT;
ALTER TABLE produtos ADD COLUMN IF NOT EXISTS pode_ser_brinde BOOLEAN DEFAULT FALSE;
ALTER TABLE produtos ADD COLUMN IF NOT EXISTS tem_serie BOOLEAN DEFAULT FALSE;
ALTER TABLE produtos ADD COLUMN IF NOT EXISTS tem_garantia BOOLEAN DEFAULT FALSE;
ALTER TABLE produtos ADD COLUMN IF NOT EXISTS dias_garantia INT;
ALTER TABLE produtos ADD COLUMN IF NOT EXISTS texto_garantia TEXT;

